# Virtual Environment
venv/

# Environment Variables (Very Important)
.env

# Output Folder (optional but recommended)
output/

# Python Cache
__pycache__/
*.pyc

# IDE / Editor files
.vscode/
.idea/